.home-image{
  max-width: 550px;
  margin-right: auto;
  margin-left: auto;
}
.post-profile-image{
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.post-profile-image-login{
    width: 30px;
    height: auto;
    border-radius: 50%;
}